html {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-full overflow-x-hidden;
  color-scheme: auto;
}

a {
  @apply transition text-blue-500 font-semibold hover:underline hover:text-blue-700;
}

.table-wrapper {
  @apply overflow-x-scroll -mx-4 px-4 md:-mx-8 md:px-8;
}

.table {
  @apply w-full border border-gray-200 text-sm border-collapse;
}

.table thead th,
.table tbody th {
  @apply border border-gray-200 text-left px-4 py-2;
}

.table tbody td {
  @apply border border-gray-200 px-4 py-2 align-top;
}

.table .table td,
.table .table th {
  @apply border-l-0 border-b-0;
}

.table .table td:last-child,
.table .table th:last-child {
  @apply border-r-0;
}

.viget-logo {
  @apply relative w-[36px] h-[28px];
  transform: scale(0.5);
}

.viget-logo::before {
  content: '';
  @apply absolute h-[20px] w-[20px] left-0 top-[7px] bg-[rgba(19,149,186)] rounded-full;
}

.viget-logo::after {
  content: '';
  @apply absolute h-[11px] w-[11px] left-[18px] top-[1px] bg-[rgba(241,108,32)] rounded-full;
}

.vignette-radial {
  @apply relative;
}

.vignette-radial:after {
  content: '';
  @apply absolute inset-0;
  background: radial-gradient(circle, transparent 50%, white 150%);
}

.animate-rise {
  animation-name: rise;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}

.animate-fade {
  animation-name: fade;
  animation-duration: 500ms;
}

@keyframes rise {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    @apply text-white bg-[#0d0d0d];
  }

  a {
    @apply text-blue-300 hover:text-blue-200;
  }

  .table {
    @apply border-gray-700;
  }

  .table thead th,
  .table tbody th,
  .table tbody td {
    @apply border-gray-700;
  }

  .vignette-radial:after {
    background: radial-gradient(circle, transparent 50%, #0d0d0d 150%);
  }
}
